.fade.in {
  opacity: 1;
}

.chat-container {
  height: calc(100vh - 116px);
}

.chat-messages {
  flex: 1 1 70%;
  position: relative;
  overflow: auto;
}

.chat-input {
  flex: none;
  height: 9rem;
  position: relative;
  overflow: auto;
}