.fade.in {
  opacity: 1;
}

.chat-container {
  height: 100vh;
}

.chat-input {
  flex-basis: 20%;
  flex-shrink: 0;
  flex-grow: 1;
}

.chat-messages {
  flex-shrink: 1;
  position: relative;
  overflow: auto;
  display: flex;
  flex-direction: column
}
